/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--accent-font, "IBM Plex Mono");
  background-image: url(../images/cover-image-light.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 20px;
  /* padding: 10px 10px 10px 0; */
  block-size: max(95vb, 668px);
  justify-items: right;
  align-items: start;
}


.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--header-menu-color, #353430);
  border-right: 1px solid var(--header-menu-color, #353430);
  inset-block-start: 0;
  inset-inline-end: 0;
}
  
.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  border-left: 1px solid var(--header-menu-color, #353430);
  border-bottom: 1px solid var(--header-menu-color, #353430);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: 0;
  inset-block-end: 0;
}

.header__decor-element {
  position: absolute;
  display: var(--rec);
  gap: 10px;
  align-items: center;
  /* inset-block-start: 20px;
  inset-inline-end: 20px; */
  color:  var(--header-menu-color, #353430);
  font-family: var(--accent-font, "IBM Plex Mono");
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.header__decor-element::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: var(--header-menu-color, #353430);
  margin-right: 8px;
}

.header__theme-menu {
  justify-self: center;
  /* margin-block-start: 10px; */
  /* margin-left: 10px; */
}

.header__theme-menu-list {
  display: flex;
  gap: 15px;
}

.header__theme-menu-button {
  border: none;
  color: var(--header-menu-color, #353430);
  text-align: center;
  font-family: var(--accent-font, "IBM Plex Mono");
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 3px 11px;
  text-transform: lowercase;
  cursor: pointer;
  background-color: transparent; 
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--header-menu-color, #353430);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--header-menu-color, #353430);;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-menu-color, #353430);
  pointer-events: none;
}

.decor__title {
  /* position: absolute; */
  /* align-self: center; */
  justify-self: start;

  color: var(--header-title-color, #353430);
  text-shadow: 4px 4px 0 #FF0070;
  font-family: var(--accent-font, "IBM Plex Mono");
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  padding-top: 17%;
  margin-left: -20px;
}

.header__text {
  color: #000028;
  font-family: var(--accent-font, "IBM Plex Mono");
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  max-inline-size: 491px;
  background-color: var(--main-subtitle-background, #FF8DCB);
  margin-bottom: 5px;
 
}

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 58px 20px;
}

.main__section {
  display: grid;
  
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 1fr;
  gap: 20px;
  /* grid-auto-flow: row; */
}

.main__title {
  color: var(--main-title-color, #353430);
  font-family: var(--accent-font, "IBM Plex Mono");
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.main__subtitle {
  grid-column: span 2;
}

.main__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.factors {
  grid-column: span 3;
  grid-row: span 1;
  width: 30%;
  /* color: var(--main-title-color, #353430);
  font-family: var(--accent-font, "IBM Plex Mono");
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; 130% */
}

.main__factor .main__text {
  margin-top: 10px;
}

.reasons .main__article {
  grid-column: 2/4;
}



/* .factors .main__article {
  grid-column: span 1;
  grid-row: 2/3;
} */

.recomendations .main__title {
  grid-row: span 2;
}

.recomendations .main__article {
  grid-column: 2/4;
}

.title-decor {
  color: var(--main-subtitle-color, #353430);
  font-family: var(--accent-font, "IBM Plex Mono");
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background-color: var(--main-subtitle-background,#FF8DCB);
}

.recomendation__weight {
  font-weight: 400;
}

.main__text {
  color: var(--main-text-color,#353430);
  font-family: var(--accent-font, "IBM Plex Mono");
  font-size: 18px;
  /* padding-top: 5px; */
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.main__text-link {
  text-shadow: 4px 4px 0 #FF0070;
}

.gallery {
  grid-template-rows: auto 260px 315px 428px;
}

.gallery__img {
  inline-size: 100%;
  block-size: 100%; 
}

.gallery__img-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.gallery__subtitle {
  grid-column: 1 / 4;
}

.gallery__img:nth-of-type(1),
.gallery__img:nth-of-type(5) {
  grid-column: span 2;
}

.gallery__img:nth-of-type(2),
.gallery__img:nth-of-type(3) {
  grid-row: span 2;
}

.footer {
  position: relative;
  display: grid;
  /* grid-template-rows: auto; */
  block-size: 100%;
  block-size: max(100%, 668px);
  margin: 25px 20px;
  padding-top: 5px;
}

.footer .decor__title {
  justify-self: center;
  align-self: center;
  color: var(--header-title-color,#353430);
  text-shadow: 2px 2px 0px #FF0070;
  font-family:  var(--accent-font, "IBM Plex Mono");
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  
  padding-left: 20px;
  padding-top: 30%;
  padding-bottom: 30%;
}

/* .footer::before {
  content: '';
  display: block;
  justify-self: end;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--header-menu-color,#353430);
  border-right: 1px solid var(--header-menu-color, #353430);
}
  
.footer::after {
  content: '';
  display: block;
  border-left: 1px solid var(--header-menu-color,#353430);
  border-bottom: 1px solid var(--header-menu-color,#353430);
  block-size: 25px;
  inline-size: 25px;
} */

@media (width >= 768px) {
  @media (width < 1024px) {
    .header {
      block-size: max(96vb, 668px);
    }

    .header__theme-menu {
      justify-self: right;
    }
   
    .header__theme-menu-list {
      flex-direction: column;
      gap: 11px;
      padding-block-start: 171px;
      padding-inline-end: 2px;
      justify-content: center;
      align-items: flex-end;
    }
    
    .decor__title {
      padding-top: 3%;
    }

    .header__text {
      max-inline-size: 364px;
      margin-block-start: 6px;
      margin-inline-end: 0; 
    }
   
    .main {
      padding-top: 61px;
    }  

    .main__section {
      grid-template-columns: 236px 1fr 1fr;
    }

    .factors {
      grid-column: span 3;
      grid-row: span 1;
      width: 30%;
      /* color: var(--main-title-color, #353430);
      font-family: var(--accent-font, "IBM Plex Mono");
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 23.4px; 130% */
    }
    
    .main__factor {
      grid-column: span 3;
      grid-row: span 1;

    }
    
    .reasons .main__article {
      grid-column: 2/4;
    }
    

    /* .factors .main__article {
      grid-column: span 3;
      grid-row: span 3;
    } */

    .footer .decor__title {
      font-size: 120px;
    }

    .gallery {
      grid-template-rows: auto 192px 230px 318px;
    }

    .footer {
      block-size: max(95vb, 668px);
      padding-top: 0;
    }

    .footer .decor__title {
      padding-top: 228px;
    }
  } 
}

@media (width < 768px) {
    .header {
      margin: 10px;
      padding: 0;
      block-size: max(95vb, 648px);
    }

    /* .header__decor-element {
      inset-block-start: 11px;
      inset-inline-end: 11px;
    }
    
    .header::before {
      inset-block-start: 11px;
      inset-inline-end: 10px;
    }
      
    .header::after {
      inset-inline-start: 10px;
      inset-block-end: 10px;
    } */
  
    .header__theme-menu {
      justify-self: right;
    }
   
    .header__theme-menu-list {
      flex-direction: column;
      gap: 11px;
      padding-block-start: 65px;
      padding-inline-end: 2px;
      justify-content: center;
      align-items: flex-end;
    }

    .decor__title {
      margin-top: 1px;
      margin-left: 0;
      padding-top: 5%;
      font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }
        
    .header__text {
      max-inline-size: 355px;
      margin-block-start: 1px;
      margin-inline-end: 0; 
    }

    .main {
      padding: 40px 10px;
      gap: 50px;
    }
   
    .main__section {
      grid-template-columns: 1fr;
    }

    .main__subtitle {
      grid-column: span 3;
    }

    .factors {
      grid-column: span 3;
      grid-row: span 1;
      width: 70%;
      /* color: var(--main-title-color, #353430);
      font-family: var(--accent-font, "IBM Plex Mono");
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 23.4px; 130% */
    }
    
    /* .main__factor {
      grid-column: span 3;
      grid-row: span 1;

    } */

    .main__factor, .reasons .main__article, .recomendations .main__article {
      grid-column: span 3;
      grid-row: span 1;
    }

    .recomendations .main__title {
      grid-column: span 3;
    }

    .gallery {
      grid-template-rows: auto 142px 355px 237px 355px 237px;
      gap: 10px;
    }

    .gallery__img:nth-of-type(1), .gallery__img:nth-of-type(2), .gallery__img:nth-of-type(3),
    .gallery__img:nth-of-type(4), .gallery__img:nth-of-type(5) {
      grid-column: span 3;
      grid-row: span 1;
    }

    .footer {
      block-size: max(95vb, 646px);
      margin: 10px;
      padding-top: 0;
    }

    .footer .decor__title {
      font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
      margin-top: 0;
      margin-left: 0;
    }
  } 
