/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-font: "IBM Plex Mono", sans-serif;
  --header-menu-color: #353430;
  --header-text-color: #353430;
  --main-title-color: #353430;
  --main-subtitle-color: #353430;
  --main-subtitle-background: #FF8DCB;
  --main-text-color: #353430;
  --header-title-color: #FFC2E6;
  --rec: none;
  --bg-img: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --header-menu-button-hover: rgba(50, 49, 45, 0.40);
  --header-text: #000028;
  --main-text-link: #FF8DCB;
  --decor-title-shadow: #FF8DCB;
  --main-text-link-border: #353430;
}

