/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-font: "IBM Plex Mono", sans-serif;
  --header-menu-color: #353430;
  --header-text-color: #353430;
  --main-title-color: #353430;
  --main-subtitle-color: #353430;
  --main-subtitle-background: #FF8DCB;
  --main-text-color: #353430;
  --header-title-color: #FFC2E6;
  --rec: none;
   
}

